.index {
	view {
		line-height: 1;
	}
	.index_news {
		margin-top: 20upx;
		padding: 0 20upx;
		margin-bottom: 20upx;
		.index_title {
			font-size: 23upx;
			line-height: 36upx;
			color: #000;
		}
		.uni-timeline {
			margin: 0;
			padding: 23upx;
			border-radius: 6upx;
			.uni-timeline-item {
				padding-bottom: 30upx;
				&:last-child {
					padding-bottom: 0;
				}
				.uni-timeline-item-divider {
					background-color: #03bcc0;
					width: 18upx;
					height: 18upx;
					&::before,
					&::after {
						background: #000;
						left: 9upx;
					}
				}
				.uni-timeline-item-content {
					padding-left: 24upx;
					.datetime {
						font-size: 23upx;
						line-height: 23upx;
						color: #acaeb1;
					}
					.title {
						color: #000;
						font-size: 28upx;
						line-height: 1.5;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 1;
						overflow: hidden;
					}
					.text {
						color: #9fa0a4;
						font-size: 23upx;
						line-height: 30upx;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						overflow: hidden;
					}
				}
			}
		}
	}
	.index_ban {
		padding: 36rpx 24rpx 40rpx;
		image {
			width: 100%;
			height: 84upx;
			margin-bottom: -4upx;
		}
	}
	.index_fun {
		margin-top: 58upx;
		padding: 0 20upx;
		.fun_mian {
			border-radius: 6upx;
			// padding: 41upx 0;
			.f_m_item {
				display: flex;
				.i_flex {
					flex: 1;
					transition: all 0.2s;
					margin-top: 22upx;
					&:active {
						background: #191e2a;
					}
					image {
						display: block;
						height: 68rpx;
						width: 66rpx;
						margin: 0 auto;
					}
					text {
						display: block;
						color: #000;
						font-size: 28upx;
						line-height: 34upx;
						text-align: center;
						margin-top: 12upx;
					}
				}
				&.wImg {
					.i_flex {
						image {
							width: 40upx;
							height: 30upx;
						}
					}
				}
			}
		}
	}
	.index_banner {
		position: relative;
		background: #03bcc0;
		width: 93.6%;
		margin: auto;
		margin-top: 24upx;
		.banner_hot {
			position: absolute;
			left: 20upx;
			right: 20upx;
			height: 40upx;
			border-radius: 6upx;
			border: 2upx solid #EEEEEE;
			margin-top: 4upx;
			color: #000;
			.b_h_left {
				float: left;
				height: 20rpx;
				width: 24rpx;
				margin-top: 10upx;
				margin-right: 8rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
			}
			.b_h_list {
				float: left;
				height: 40upx;
				width: calc(100% - 86upx);
				box-sizing: border-box;
				.swiper-item {
					line-height: 44upx;
					color: #000;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-size: 24upx;
				}
			}
		}
	}
	.exchange_main {
		padding: 0 10px;
		.exchange_list {
			.item {
				display: flex;
				color: #434343;
				position: relative;
				padding: 10rpx 0;
				&::after {
					display: block;
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					right: 0;
					height: 1upx;
					transform: scaleY(0.5);
					background: #e5e5e5;
				}
				.flex {
					flex: 1;
					display: flex;
					align-items: center;
					font-size: 28upx;
					.icon-cion {
						width: 32upx;
						height: 32upx;
						border-radius: 32upx;
						background-color: #fff;
						margin-right: 6upx;
					}
					.item_coin {
						text {
							display: block;
							line-height: 34upx;
						}
					}
					&.price {
						flex-direction: column;
						text {
							display: block;
							width: 100%;
							line-height: 34upx;
						}
						.new {
							font-weight: 700;
						}
						.money {
							font-size: 28upx;
						}
					}
					&.gain {
						min-width: 127upx;
						text {
							display: block;
							height: 43upx;
							line-height: 43upx;
							background: #ccc;
							width: 100%;
							color: #fff;
							text-align: center;
							font-size: 24upx;
							border-radius: 8upx;
						}
						.rise {
							background: #009237;
						}
						.fall {
							background: #a62e2e;
						}
					}
					&.optional {
						justify-content: flex-end;
						.iconfont {
							font-size: 50upx;
							line-height: 50upx;
						}
					}
				}
			}
		}
		.exchange_nav {
			margin-bottom: 18upx;
			color: #a4a4a4;
			display: flex;
			border-radius: 8upx;
			font-size: 28upx;
			position: relative;
			&::after {
				display: block;
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				height: 1upx;
				transform: scaleY(0.5);
				background: #e5e5e5;
			}
			text {
				flex: 1;
				height: 67upx;
				line-height: 67upx;
			}
		}
	}
	.exchange_header {
		display: flex;
		border-bottom: 2upx solid #e5e5e5;
		margin: 0 24upx 20rpx;
		.b_list {
			height: 60upx;
			line-height: 60upx;
			background: none;
			color: #434343;
			font-size: 28upx;
			padding: 0;
			text-align: center;
			margin-right: 24upx;
			transition: all 0.1s;
			&:last-child {
				margin-right: 0;
			}
			&.active::after {
				content: '';
				position: absolute;
				bottom: 0;
				background: #488fd3;
				width: 100%;
				height: 5upx;
				left: 50%;
				transform: translateX(-50%);
			}
			&.active {
				position: relative;
				color: #488fd3;
				display: flex;
				justify-content: center;
			}
		}
	}

	.index_header {
		height: 88upx;
		padding: 0 24upx;
		margin-bottom: -20upx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.i_h_logo {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: -14rpx;
		}
		.i_h_login {
			display: flex;
			justify-content: center;
			align-items: center;
			button,
			image {
				float: left;
			}
			view {
				padding: 14rpx 18rpx;;
				font-size: 28upx;
				background: none;
				color: #000;
				border: 1upx solid #4a92d8;
				border-radius: 6rpx;
			}
		}
	}
}
