.inviteList{
  padding: 20rpx;
  .inviteList_list{
    .list_main{
       padding: 0 26rpx;
       background: #488FD3;
       border-radius: 8rpx;
      .item{
        display: flex;
        font-size: 22rpx;
        position: relative;
		 border-bottom: 2rpx solid #DCDCDC;
        &:last-child{
          &::after{
            display: none;
          }
        }
        &::after{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1rpx;
          background: #c7c7c8;
        }
        .flex{
          flex: 1;
          height: 96rpx;
          line-height: 96rpx;
          color: #fff;
        }
      }
    }
    .list_nav{
      display: flex;
      padding: 0 26rpx;
      font-size: 24rpx;
	  border-bottom: 2rpx solid #DCDCDC;
      .flex{
        flex: 1;
        height: 80rpx;
        line-height: 80rpx;
        color: #A4A4A4;
      }
    }
  }
  .i_header{
    height: 144rpx;
    background: #488FD3;
    border-radius: 8rpx;
    padding: 1rpx 27rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.cen_border {
		width: 2rpx;
		height: 130rpx;
		background-color: #fff;
	}
	.ll {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex: 1;
	}
    .header_number{
	  color: #fff;
    }
    .header_title{
      font-size: 24rpx;
      color: #fff;
    }
  }
}