.content {
	background-color: #f8f9fb;
}
.inviteList {
	padding: 30rpx 26rpx;
	.inviteList_list {
		.list_main {
			padding: 36rpx 18rpx;
			background: #fff;
			border-radius: 6rpx;
			margin-top: 16rpx;
			.item {
				display: flex;
				font-size: 24rpx;
				font-weight: bold;
				position: relative;
				margin-top: 42rpx;
				&:first-child {
					margin-top: 0;
				}
				.flex {
					flex: 1;
				}
			}
		}
		.list_nav {
			display: flex;
			margin-top: 22rpx;
			padding: 16rpx 18rpx;
			font-size: 24rpx;
			border-bottom: 2rpx solid #e7ebee;
			.flex {
				flex: 1;
				color: #c5cfd5;
			}
		}
	}
	.i_header {
		height: 210rpx;
		background: $blue;
		border-radius: 6rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		.ll {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		.header_title {
			font-size: 32rpx;
			font-weight: bold;
			color: #fff;
		}
		.header_number {
			margin-top: 40rpx;
			text {
				font-size: 60rpx;
				font-weight: bold;
				color: #fff;
			}
		}
	}
}
