.authentication {
	padding-bottom: 20rpx;
	.g_line {
		height: 10rpx;
		width: 100%;
		background: #f8f9fb;
	}
	.com_header {
		padding: 34rpx 0 44rpx;
		.one {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 22rpx;
			padding: 0 48rpx;
			.h_block {
				image {
					display: block;
					width: 90rpx;
					height: 90rpx;
				}
			}
		}
		.two {
			display: flex;
			justify-content: space-between;
			padding: 0 38rpx;
			text {
				color: $lgray;
				font-weight: bold;
				&.active {
					color: $word;
				}
			}
		}
		.a_line {
			width: 176rpx;
			height: 4rpx;
			background: rgba(24, 130, 212, 1);
		}
	}
	.b_title {
		text {
			display: block;
			padding: 0 26rpx 10rpx;
			font-size: 24rpx;
		}
	}
	.authentication_lv {
		.lv_top {			
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-top: 194rpx;
			image {
				width: 128rpx;
				height: 128rpx;
				margin-bottom: 20rpx;
			}
			text {
				line-height: 1.5;
				font-weight: bold;
			}
		}
		.lv_bottom {
			color: #fff;
			view {
				width:400rpx;
				height:66rpx;
				background:rgba(24,130,212,1);
				border-radius:6rpx;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.2s;
				margin: auto;
				margin-top: 76rpx;
				&::after {
					display: none;
				}
				&:active {
					opacity: 0.5;
				}
			}
		}
	}
	.authentication_submit {
		view {
			height:66rpx;
			background:rgba(24,130,212,1);
			border-radius:6rpx;
			color: #fff;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 700rpx;
			margin: 52rpx auto 30rpx;
			&::after {
				display: none;
			}
			&:active {
				opacity: 0.5;
			}
		}
	}
	.authentication_promise {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		color: #04cbcf;
		padding: 0 24upx;
		height: 145upx;
		.checkbox {
			margin-right: 16upx;
			height: 27upx;
			width: 27upx;
			border: 1upx solid #0a878e;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 4upx;
		}
	}
	.authentication_upload {
		padding: 36rpx 30rpx;
		background: #fff;
		border-radius: 8upx;
		margin-top: 20upx;
		.f_flex {
			display: flex;
			justify-content: space-between;
		}
		.lst {
			display: flex;
			justify-content: center;
		}
		.upload_img {
			position: relative;
			height: 194rpx;
			width: 308rpx;
			margin-bottom: 18upx;
			.image {
				height: 194rpx;
				width: 308rpx;
			}
			&.JUST {
				background: url(../../static/dev/JUST.png) no-repeat;
				background-size: 100% 100%;
			}
			&.BACK {
				background: url(../../static/dev/BACK.png) no-repeat;
				background-size: 100% 100%;
			}
			&.HOLD {
				background: url(../../static/dev/HOLD.png) no-repeat;
				background-size: 100% 100%;
			}
			&.ID_PASSPROT {
				background: url(../../static/dev/PASSPORT.png) no-repeat;
				background-size: 100% 100%;
			}
			&.ID_PASSPROTHOLD {
				background: url(../../static/dev/PASSPORTHOLD.png) no-repeat;
				background-size: 100% 100%;
			}
			.upload_img_submit {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 94rpx;
				height: 94rpx;
				padding: 0;
			}
		}
		.upload_title {
			color: #333;
			margin-bottom: 30upx;
			font-size: 24rpx;
			text-align: center;
			width: 308rpx;
		}
		.upload_tips {
			display: block;
			text-align: center;
			width: 100%;
			line-height: 60upx;
			color: #acaeb1;
			font-size: 26upx;
		}
	}
	.authentication_form {
		padding: 0 26rpx;
		.a_input {
			padding: 0 12rpx;
			border-bottom: 2rpx solid #E7EBEE;
			height: 100rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.s_input {
				display: flex;
				align-items: center;
				view {
					font-weight: bold;
				}
			}
			text {
				font-weight: bold;
				display: block;
				width: 168rpx;
			}
			input {
				display: block;
				font-size: 28rpx;
				width: calc(100% - 168rpx) ;
				font-weight: bold;
			}
		}
		.next {
			width:700rpx;
			height:66rpx;
			background:rgba(24,130,212,1);
			border-radius:6rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-weight: bold;
			margin-top: 52rpx;
		}
	}
	.authentication_tip {
		background: $maskBg;
		padding: 15upx 25upx;
		border-radius: 8upx;
		text {
			color: #acaeb1;
			font-size: 26upx;
			display: block;
		}
		.title {
			font-size: 31upx;
			color: #12abb0;
			font-weight: 800;
		}
		.seeMap {
			color: #12abb0;
			text-decoration: underline;
		}
	}
}
.cityList {
	background: $maskBg;
	width: 500upx;
	color: #03bcc0;
	max-height: 400upx;
	border-radius: 8upx;
	padding: 20upx 0;
	.uni-list-item {
		font-size: 26upx;
	}
}
