.account_logout {
	padding: 0 20upx;
	padding-top: 60upx;
	margin-bottom: 20upx;
	button {
		background: #488FD3;
		color: #fff;
		border-radius: 6px;
		height: 64upx;
		line-height: 64upx;
		font-size: 24upx;
		font-weight: 700;
		transition: all 0.1s;
		&::after {
			display: none;
		}
		&:active {
			opacity: 0.5;
		}
	}
	&.location {
		position: absolute;
		bottom: 25upx;
		left: 0;
		right: 0;
		margin-bottom: 0upx;
	}
}
.account_mian {
	padding: 0 24upx 0;
	margin-top: 50upx;
	.account_main_list {
		background: #fff;
		padding: 0 24upx;
		margin-top: 2rpx;
		border-radius: 6upx;
		.account_main_list_item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 84rpx;
			view {
				display: flex;
				align-items: center;
			}
			image {
				height: 30upx;
				width: 30upx;
				margin-right: 20rpx;
			}
		}
		
	}
}
.account_mian_header {
	background: #fff;
	margin: 0 24upx;
	border-radius: 10upx;
	.c_line {
		width: 4upx;
		height: 92upx;
		background: #DCDCDC;
		border-radius: 2upx;
		margin-top: 6upx;
	}
	.m_h_nav {
		display: flex;
		height: 105upx;
		border-radius: 10upx;
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
		margin-top: -52upx;
		.flex {
			transition: all 0.2s;
			&:active {
				background: #191e2a;
			}
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			text {
				color: #000;
			}
			image {
				width: 28rpx;
				height: 28rpx;
				margin-right: 10rpx;
			}
		}
	}
}
.m_h_top {
	height: 490rpx;
	background: url(/static/my_bg.png) no-repeat;
	background-size: cover;
	color: #fff;
	.top {
		display: flex;
		padding-left: 24rpx;
		image {
			width: 98upx;
			height: 98upx;	
			padding-top: 52rpx;
		}
		view {
			margin-left: 10rpx;
		}
		text {
			display: block;
		}
		.sm_wz {
			font-size: 24rpx;
		}
	}
	.btm {
		text {
			display: block;
			margin: auto;
			text-align: center;
			&.one {
				font-size: 48rpx;
				margin-top: 80rpx;
				margin-bottom: 36rpx;
			}
		}
	}
}
