.account_logout {
  padding: 0 20upx;
  padding-top: 60upx;
  margin-bottom: 20upx;
  button {
    background: $fontColor;
    color: #fff;
    border-radius: 8px;
    height: 80upx;
    line-height: 80upx;
    font-size: 28upx;
    font-weight: 700;
    transition: all .1s;
    &::after{
      display: none;
    }
    &:active{
      opacity: 0.5;
    }
  }
  &.location{
    position: absolute;
    bottom: 25upx;
    left: 0;
    right: 0;
    margin-bottom: 0upx; 
  }
}
.account_mian {
  padding: 10px 20upx 0;
  .account_main_list {
    background: $maskBg;
    padding: 0 20upx;
    margin-top: 12upx;
    border-radius: 8upx;
    .account_main_list_item {
      transition: all 0.2s;
      &:active {
        opacity: 0.5;
      }
      height: 80upx;
      position: relative;
      &::before{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1upx;
        background: #6d717a;
        transform: scaleY(0.5);
      }
      &:last-child {
        &::before{
          display: none;
        }
      }
      .fl {
        color: #fff;
        height: 80upx;
        font-size: 23upx;
        justify-content: center;
        align-items: center;
        display: flex;
        image {
          height: 34upx;
          width: 34upx;
        }
        text {
          margin-left: 13upx;
        }
      }
      .fr {
        height: 80upx;
        display: flex;
        justify-content: center;
        align-items: center;
        .messages{
          background: #ff0000;
          height: 34upx;
          width: 34upx;
          border-radius: 34upx;
          margin-right: 20upx;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18upx;
        }
      }
    }
  }
  .account_mian_header {
    background: $maskBg;
    border-radius: 8upx;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    .m_h_nav {
      display: flex;
      height: 96upx;
      .flex {
        transition: all 0.2s;
        &:active {
          background: #191e2a;
        }
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10upx;
        text {
          color: #fff;
        }
      }
    }
    .m_h_top {
      height: 247upx;
      border-radius: 30upx;
      background: $fontColor;
      padding: 0 25upx;
      display: flex;
      align-items: center;
      .m_h_account {
        margin-left: 31upx;
        width: calc(100% - 108upx);
        text {
          display: block;
        }
      }
    }
  }
}