.register {
	height: 100%;
	margin: 0;
	padding: 0;
	/* #ifdef APP-PLUS */
	height: calc(100% - var(--status-bar-height));
	/* #endif */
	width: 100%;
	background: #ffffff;
	.register_main {
		.top_bg {
			image {
				height: 506rpx;
				width: 100%;
			}
		}
		.top_title {
			position: absolute;
			color: #fff;
			font-size: 60rpx;
			bottom: 88rpx;
			left: 50%;
			transform: translateX(-50%);
			font-weight: 600;
		}
		.sm_b {
			margin-top: 24rpx;
			padding: 0 64rpx;
		}
		.agreement {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 59upx;
			color: #999999;
			margin-bottom: 26upx;
			.agreement_main {
				color: #488fd3;
			}
			text {
				margin: 0 8upx;
			}
			.checkbox {
				height: 20upx;
				width: 20upx;
				border: 1upx solid #0a878e;
				color: #fff;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 3upx;
				.uni-icons {
					font-size: 30upx !important;
				}
			}
		}
		.item {
			padding-bottom: 22rpx;
			margin-bottom: 26upx;
			border-bottom: 1px solid #C5CFD5;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&.block {
				margin: 0 64rpx;
				margin-bottom: 40rpx;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.i_left {
				display: flex;
				align-items: center;
				flex: 1;
				.img {
					width: 40rpx;
					display: flex;
					align-items: center;
				}
				image {
					width: 34upx;
					height: 34upx;
				}
				.uni-inputs {
					display: flex;
					align-items: center;
					margin-left: -2rpx;
				}
				.thr {
					margin-left: 4rpx;
					border-top: 12rpx solid #c5cfd5;
					border-right: 8rpx solid transparent;
					border-bottom: 0 solid transparent;
					border-left: 8rpx solid transparent;
				}
				.m_line {
					width:2rpx;
					height:26rpx;
					background:rgba(197,207,213,1);
					border-radius:2rpx;
					margin-left: 6rpx;
				}
			}
			input {
				flex: 2;
				font-size: 26rpx;
			}
			&.submit {
				border-bottom: none;
				margin-top: 56rpx;
				margin-bottom: 6upx;
				button {
					padding: 0;
					width: 622rpx;
					height: 80rpx;
					background: rgba(24, 130, 212, 1);
					box-shadow: 0px 18rpx 40rpx 0px rgba(24, 130, 212, 0.22);
					border-radius: 40rpx;
					font-size-adjust: 28rpx;
					color: #fff;
					line-height: 80rpx;
					font-weight: bold;
					font-size: 28rpx;
				}
			}
			.fl {
				width: 72upx;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
			}
			.fr {
				color: #12abb0;
				width: calc(100% - 72upx);
				height: 100%;
				box-sizing: border-box;
				padding-right: 28upx;
				font-size: 28upx;
				line-height: 59upx;
				uni-input div {
					width: 100%;
				}
			}
			&.imgCode {
				.fr {
					width: calc(100% - 212upx);
				}
				position: relative;
				.code {
					position: absolute;
					right: 0;
					width: 146rpx;
					z-index: 999;
					view {
						font-size: 28upx;
						padding: 0;
						width: 100%;
						background: none;
						border: 0;
						color: #488fd3;
					}
				}
			}
		}
		.register_nav {
			margin-top: 34upx;
			display: flex;
			background: $maskBg;
			border-radius: 60upx;
			overflow: hidden;
			margin-bottom: 26upx;
			button {
				flex: 1;
				width: inherit;
				border: 0;
				background: none;
				height: 60upx;
				line-height: 60upx;
				color: #12abb0;
				border-radius: 60upx;
				transition: all 0.2s;
				font-size: 26upx;
				&.active {
					background: #12abb0;
					color: #191e2a;
				}
			}
		}
	}
}
