.reset {
	height: 100%;
	/* #ifdef APP-PLUS */
	height: calc(100% - var(--status-bar-height));
	/* #endif */
	width: 100%;
	height: 100%;
	background: #ffffff;
	.sm_b {
		margin-top: 24rpx;
		padding: 0 64rpx;
	}
	.top_bg {
		image {
			height: 506rpx;
			width: 100%;
		}
	}
	.top_title {
		position: absolute;
		color: #fff;
		font-size: 46rpx;
		bottom: 78rpx;
		left: 50%;
		transform: translateX(-50%);
		font-weight: 600;
	}
	.item {
		padding-bottom: 22rpx;
		margin-bottom: 26upx;
		border-bottom: 1px solid #C5CFD5;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&.block {
			margin: 0 64rpx;
			margin-bottom: 40rpx;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.i_left {
			display: flex;
			align-items: center;
			flex: 1;
			image {
				width: 34upx;
				height: 34upx;
			}
			.img {
				width: 40rpx;
				display: flex;
				align-items: center;
			}
			.uni-inputs {
				display: flex;
				align-items: center;
			}
			.thr {
				margin-left: 4rpx;
				border-top: 12rpx solid #c5cfd5;
				border-right: 8rpx solid transparent;
				border-bottom: 0 solid transparent;
				border-left: 8rpx solid transparent;
			}
			.m_line {
				width:2rpx;
				height:26rpx;
				background:rgba(197,207,213,1);
				border-radius:2rpx;
				margin-left: 6rpx;
			}
		}
		input {
			font-size: 26rpx;
			flex: 2;
		}
		&.submit {
			border-bottom: none;
			margin-top: 56rpx;
			margin-bottom: 6upx;
			button {
				padding: 0;
				width: 622rpx;
				height: 80rpx;
				background: rgba(24, 130, 212, 1);
				box-shadow: 0px 18rpx 40rpx 0px rgba(24, 130, 212, 0.22);
				border-radius: 40rpx;
				font-size-adjust: 28rpx;
				color: #fff;
				line-height: 80rpx;
				font-weight: bold;
				font-size: 28rpx;
			}
		}
		.fl {
			width: 72upx;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
		.fr {
			color: #12abb0;
			width: calc(100% - 72upx);
			height: 100%;
			box-sizing: border-box;
			padding-right: 24upx;
			font-size: 28upx;
			line-height: 59upx;
			uni-input div {
				width: 100%;
			}
		}
		&.imgCode {
			.fr {
				width: calc(100% - 212upx);
			}
			position: relative;
			.code {
					position: absolute;
					right: 0;
					width: 146rpx;
					z-index: 999;
					view {
						font-size: 28upx;
						padding: 0;
						width: 100%;
						background: none;
						border: 0;
						color: #488fd3;
					}
				}
			}
	}
}
