input {
		color: #000!important;
	}
.ren_mian{	
    width: 680upx;
    padding: 24upx 0;
    box-sizing: border-box;
    background: #fff;
    color: #000000;
    font-size: 26upx;
    border-radius: 8upx;
    .ren_info{
      position:relative;
	  padding:  0 28rpx;
      .share{
        position: absolute;
        right: 0rpx;
        top: 60rpx;
        button{
          height: 50rpx;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24rpx;
          background: #d14b64;
          color: #fff;
          transition: all .1s;
          border-radius: 6rpx;
          border: 0;
          &::after{
            display: none;
          }
          &:active{
            opacity: 0.5;
          }
        }
      }
      .user{
        text-align: center;
        font-size: 36rpx;
		color: #F14747;
      }
      .surplus{
        margin-bottom: 20rpx;
      }
    }
    .list{
      height: 550upx;
      overflow: auto;
      .item{
        margin-bottom: 20rpx;
        border-radius: 6rpx;
        padding: 28rpx;
		border-bottom: 2rpx solid #DCDCDC;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
.my_bonus {
  height: 516rpx;
  background: url(../../../static/r1.png) no-repeat;
  background-size: cover;
  position: relative;
  .bonus_list {
	  margin: 0 24rpx;
    margin-top: 70rpx;
    .item {
      margin-bottom: 20rpx;
      color: #000000;
      font-size: 24rpx;
	  border-bottom: 3rpx solid #DCDCDC;
	  background: #f3f3f3;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .bonus_text{
    color: #fff;
	font-size: 28rpx;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -54rpx;
	line-height: 1.5;
  }
  .r_boder {
	  position: absolute;
	  height: 2rpx;
	  background: #FFCC00;
	  top: 516rpx;
	  width: 100%;
  }
  .bonus_nav { 
    margin-top: 148rpx;
    display: flex;
	justify-content: space-between;
	padding: 0 24rpx;
    button {
		font-size: 28rpx;
		padding: 0;
      border-radius: 15rpx;
      background: #E7C38D;
      color: #5B1010;
      font-size: 28rpx;
      height: 88rpx;
	  width: 198rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.1s;
      border: 0;
	   margin: 0;
      &::after {
        display: none;
      }
      &.active {
        background: #FFCC00;
        color: #5B1010;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
  .created_created {
    color: #FFF;
	font-size: 30rpx;
	margin-left: 160rpx;
	padding-top: 174rpx;
	width: 100rpx;
  }	  
  .get_red {
	  position: absolute;
	color: #FFF;
	font-size: 30rpx;
	right: 134rpx;
	top: 174rpx;  
	width: 100rpx;
  }
}
