.content {
	background: #F8F9FB;
}
.message {
	padding: 34rpx 26rpx;
	view,text {
		font-weight: bold;
	}
	.m_block {
		margin-bottom: 34rpx;
	}
	.time {
		width:300rpx;
		height:30rpx;
		background:rgba(231,235,238,1);
		border-radius:4rpx;
		font-size: 24rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		margin:0 auto 16rpx;
	}
	.block {
		background: #fff;
		border-radius:6rpx;
		.top {
			font-size: 32rpx;
			border-bottom: 2rpx solid #E7EBEE;
			padding: 52rpx 0 52rpx 20rpx ;
		}
		.btm {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 66rpx;
			padding: 0 10rpx 0 20rpx;
			text {
				color: #C5CFD5;
			}
		}
	}
}
