.list_main_item_fun {
	display: flex;
	margin-top: 32rpx;
	.flex {
		flex: 1;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		transition: all 0.2s;
		image {
			margin-bottom: 20rpx;
		}
		text {
			color: #000;
		}
	}
}
view,
text {
	font-weight: bold;
}
.index_header {
	height: 88upx;
	background: #1d2243;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	text {
		position: absolute;
		color: #fff;
		font-size: 36rpx;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.i_h_logo {
		height: 58rpx;
		width: 176rpx;
		padding-left: 26rpx;
	}
	.i_h_login {
		width: 44rpx;
		height: 52rpx;
		padding-right: 26rpx;
	}
}

.assets_list {
	.list_main {
		.list_main_item {
			.list_main_item_coin {
				padding: 34rpx 0;
				padding-left: 30rpx;
				border-bottom: 2rpx solid #E7EBEE;
				.b_title {
					font-size: 36rpx;
					color: $blue;
				}
				.top {
					margin: 46rpx 0 24rpx;
					display: flex;
					justify-content: space-between;
					text {
						color: #C5CFD5;
					}
				}
				.block {
					display: flex;
					justify-content: space-between;
				}
			}
		}
	}
	.w_bg {
		background: #fff;
		border-radius: 4rpx;
		margin: 0 24rpx;
	}
	.account_list_nav {
		height: 60upx;
		line-height: 60upx;
		font-size: 23upx;
		color: #a4a4a4;
		padding: 0 32upx;
		display: flex;
		border-bottom: 2rpx solid #eeeeee;
		text {
			flex: 1;
		}
	}
	.assets_detailed {
		height: 84rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 32rpx;
		margin: 32rpx 26rpx 0;
		padding: 0 26rpx;
		border-top: 2rpx solid #E7EBEE;
		border-bottom: 2rpx solid #E7EBEE;
		.search {
			width:164rpx;
			height:50rpx;
			border:2rpx solid rgba(197,207,213,1);
			border-radius:6rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			image {
				width: 24rpx;
				height: 24rpx;
				margin-left: 14rpx;
			}
			input {
				width: 120rpx;
				font-size: 24rpx;
			}
		}
		view {
			line-height: 38upx;
		}
		.fr {
			height: 39upx;
			overflow: hidden;
			float: inherit;
			.checkbox {
				float: left;
				margin-top: 8upx;
				height: 20upx;
				width: 20upx;
				color: #fff;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 3upx;
				border: 1px solid #1882D4;
				.uni-icons {
					font-size: 30upx !important;
				}
				&.coin {
					background: #1882D4;
					border: 1upx solid #1882D4;
				}
				&.game {
					background: #1882D4;
					border: 1upx solid #1882D4;
				}
				&.shop {
					background: #1882D4;
					border: 1upx solid #1882D4;
				}
				&.nobg {
					background: none;
				}
			}
		}
	}
	.assets_list_money {
		margin: 0 2upx;
		margin-top: -29upx;
		height: 160upx;
		box-sizing: border-box;
		display: flex;
		border-radius: 8upx;
		background: #03bcc0;
		flex-direction: column;
		justify-content: center;
		padding: 29upx 42upx 15upx;
		transition: all 0.2s;
		text {
			color: #fff;
			line-height: 1.4;
		}
	}
}
.exchange_header {
	display: flex;
	margin-top: 122rpx;
	height: 66upx;
	padding: 0 26rpx;
	margin-bottom: 24rpx;
	.frs {
		border-radius: 6rpx 0 0 6rpx;
	}
	.lst {
		border-radius: 0 6rpx 6rpx 0;
	}
	.b_list {
		line-height: 66upx;
		background: rgba(248, 249, 251, 1);
		color: #8c9fad;
		text-align: center;
		flex: 1;
		&.active {
			background: $blue;
			color: #fff;
		}
	}
}

.assets_header {
	padding: 34rpx;
	background: #1882D4;
	border-radius: 10rpx;
	margin: 0 26rpx;
	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12rpx;
		text {
			color: #FEFEFE;
		}
		image {
			width: 44rpx;
			height: 30rpx;
		}
	}
	.title {
		color: #C5CFD5;
		font-size: 20rpx;
		font-weight: normal;
		margin-bottom: 62rpx;
	}
	.my {
		font-size: 36rpx;
		color: #fff;
		margin-bottom: 12rpx;
		display: block;
	}
	.rmb {
		font-size: 20rpx;
		color: #C5CFD5;
		display: block;
	}
}
