uni-page-head .uni-btn-icon {
	overflow: inherit!important;
}
.invitation{
  .bg{
    display: block;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0upx;
  }
  .invitation_main{
    position: absolute;
    z-index: 2;
    top: 50rpx;
    right: 50rpx;
    left: 50rpx;
    bottom: 50rpx;
	.w_title {
		position: absolute;
		bottom: 116rpx;
		 right: 14rpx;
		 .main_code{
		   height: 88rpx;
		   font-size: 48rpx;
		   color: #fff;
		   text-align: center;
		   font-family: 'Arial';
		   margin: 0 0 48rpx;
		 }
		 .main_title{
		   margin-top: 40rpx;
		   margin-bottom: 48rpx;
		   text-align: center;
		   color: #fff;
		   font-size: 36rpx;
		 }
	}
	.shar {
		position: absolute;
		bottom: 98rpx;
		 right: 14rpx;
		 width: 264rpx;
		 height: 66rpx;
		 border-radius: 6rpx;
		 background-color: #fff;
		 color: #1DB5F6;
		 text-align: center;
		 line-height: 66rpx;
	}
    .main_tips{
      text-align: center;
      line-height: 2.2;
      font-size: 26rpx;
    }
    .main_qrcode{
      position: absolute;
	  left: 14rpx;
	  bottom: 94rpx;
    }
    .main_button{
      height: 70rpx;
      padding: 40rpx;
      button{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(right, #6F98FF, #4D67EF);
        border: 0;
        width: 48%;
        font-size: 28rpx;
        color: #fff;
        padding: 0;
        transition: all .1s;
        &::after{
          display: none;
        }
        &:active{
          opacity: 0.5;
        }
      }
    }
    
  }
}