.top_border {
	height: 2rpx;
	background: #dcdcdc;
}
input {
	color: #000 !important;
}
.accountSet_main_list {
	margin-top: 36rpx;
	.c_block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 40rpx 0 48rpx;
		border-bottom: 2rpx solid #e7ebee;
		height: 100rpx;
		.set {
			font-size: 32rpx;
			color: #c5cfd5;
		}
		.f_flex {
			display: flex;
			align-items: center;
		}
		.left {
			display: flex;
			align-items: center;
			image {
				width: 44rpx;
				height: 44rpx;
				margin-right: 18rpx;
			}
			text {
				font-size: 32rpx;
				font-weight: bold;
			}
		}
		.right {
			display: flex;
			align-items: center;
			view {
				color: #C5CFD5;
			}
			switch {
				margin-right: -14rpx;
			}
		}
	}
}
