.top_border {
	height: 2rpx;
	background: #dcdcdc;
}
input {
	color: #000!important;
}
.accountSet_main_list {	
	margin-top: 12upx;
	&:first-child {
		margin-top: 0;
	}
	border-radius: 8upx;
	.accountSet_main_list_item {
		transition: all 0.1s;
		background: #fff;
		height: 70upx;
		position: relative;
		padding:  0 26rpx 0 40rpx;
		margin-bottom: 4rpx;
		.fl {
			color: #000;
			height: 70upx;
			font-size: 28upx;
			justify-content: center;
			align-items: center;
			display: flex;
			image {
				height: 30upx;
				width: 30upx;
			}
			text {
				margin-left: 18upx;
			}
		}
		.fr {
			height: 70upx;
			display: flex;
			justify-content: center;
			align-items: center;
			.btn_default,
			.btn_active {
				height: 100%;
				line-height: 70upx;
				color: #488FD3;
				background: none;
				border: none;
				padding: 0 19upx;
				width: inherit;
				font-size: 28upx;
				transition: all 0.1s;
				&:active {
					background: #191e2a;
				}
				&::after,
				&::before {
					display: none;
				}
			}
			.btn_active {
				color: #488FD3;
			}
		}
	}
}
