.content{
  background: #fff;
  .agreement{
    padding: 20upx;
    text{
      display: block;
    }
    .title{
      text-align: center;
      font-size: 32upx;
      margin-bottom: 20upx;
    }
  }
}