.re_block {
	.s_line {
		height: 10rpx;
		width: 100%;
		background: #F8F9FB;
		margin-top: 34rpx;
	}
	.list {
		.block {
			border-bottom: 10rpx solid #F8F9FB;
			padding: 20rpx 36rpx;
			.top {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.left {
					display: flex;
					align-items: center;
					text {
						font-weight: bold;
					}
					view {
						width:92rpx;
						height:30rpx;
						background:rgba(24,130,212,.2);
						color: $blue;
						border-radius:6rpx;
						margin-left: 18rpx;
						font-size: 24rpx;
						display: flex;
						align-items: center;
						justify-content:center;
					}
				}
				.right {
					color: #03AD8F;
				}
			}
			.center {
				color: #C5CFD5;
				margin-top: 30rpx;
				margin-bottom: 26rpx;
			}
			.btm {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.left {
					font-size: 24rpx;
					color: #C5CFD5;
				}
				.right {
					color: #C5CFD5;
				}
			}
		}
	}
}
