.deposit {
  padding: 24upx;
  .deposit_sync{
    margin-bottom: 20rpx;
    button{
      height: 60rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8rpx;
      font-size: 28rpx;
      background: $fontColor;
      color: #191e2a;
      transition: all .1s;
      &::after{
        display: none;
      }
      &:active{
        opacity: 0.5;
      }
    }
  }
  .tip {
	  margin: 18rpx 48rpx;
	  .deposit_tips_one {
		  color: #488FD3;
	  }
	  .deposit_tips_two {
		  color: #000;
	  }
	  view {
		  margin-bottom: 26rpx;
		  line-height: 1.2;
	  }
  }
  .deposit_main {
    width:700upx;
    height:456upx;
    background:rgba(255,255,255,1);
    border-radius:10upx;
    margin-bottom: 20upx;
	display: flex;
	flex-direction: column;
	align-items: center;
    .deposit_address {
      width:552upx;
      height:45upx;
      border:2upx solid rgba(229,229,229,1);
      border-radius:5upx;
	  color: #000;
	  margin: 10rpx 0 20rpx;
    }
	.copy {
		width:150rpx;
		height:50rpx;
		background:rgba(72,143,211,1);
		border-radius:3upx;
		color: #fff;
		line-height: 50upx;
		text-align: center;
	}
    .deposit_tpis {
      text {
        color: #488FD3;
      }
    }
    .deposit_code {
      width: 200upx;
      height: 200upx;
      margin: 40upx auto;
      background: #fff;
    }
  }
}
