 .index_banner {
	  width: 92%;
	  margin: auto;
  }
.newNotice_main {
  padding: 14upx 24upx 24upx;
  .newNotice_main_main {
    .newNotice_main_title {
      color: #fff;
      height: 66upx;
      display: flex;
      align-items: center;
	  justify-content: center;
      font-size: 32upx;;
      position: relative;
	  border-radius: 24rpx;
	  padding-bottom: 42rpx;
      &::before {
        content: '';
        height: 1upx;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        background-color: #eee;
        transform: scaleY(1.5);
      }
	  .ll {
		 border-radius:22rpx 0px 0px 22rpx;
		 text-align: center;
	  }
	  .rr {
		  border-radius:0px 22rpx 22rpx 0px;
		  text-align: center;
	  }
      .fl{
        height: 66upx;
		width: 146rpx;
        line-height: 66upx;
        background:rgba(74,146,216,.6);
        box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.1);
		color: #000;
		font-size: 32rpx;
        &.active{
		  background:rgb(74,146,216);
        }
      }
    }
  }
  .newNotice_news {
    padding: 20upx 0;
    .uni-timeline {
      margin: 0;
      .uni-timeline-item {
        padding-bottom: 20upx;
		padding-top: 20upx;
        width: 100%;
		border-bottom: 2rpx solid rgb(238,238,238);
        &:last-child {
          padding-bottom: 0;
        }
        &:active {
          opacity: 0.6;
        }
        .uni-timeline-item-divider {
          background-color: #03bcc0;
          width: 18upx;
          height: 18upx;
          &::before,
          &::after {
            background: #fff;
            left: 9upx;
          }
        }
        .uni-timeline-item-content {
          padding-left: 24upx;
          width: calc(100% - 38upx);
          .datetime {
            font-size: 23upx;
            line-height: 23upx;
            color: #A4A4A4;
          }
          .title {
            color: #000;
            font-size: 28upx;;
            line-height: 1.5;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .text {
            color: #A4A4A4;
            font-size: 23upx;
            line-height: 30upx;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
          .more {
            color: #4A92D8;
            text-align: right;
            &:active {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
