.NavBar {
	image {
		width: 40rpx;
	}
}
.c2c {
	.sell_top {
		background: #fff;
		height: 66rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20rpx;
		border-radius: 5upx;
		font-size: 20rpx;
		margin: 10rpx 0 26rpx;
		.one {
			text {
				&:first-child {
					color: #a3a3a3;
				}
				&:last-child {
					color: #010101;
				}
			}
		}
	}
	.list_top {
		height: 66rpx;
		background: rgba(255, 255, 255, 1);
		border-radius: 6rpx;
		margin: 0 0 26rpx;
		padding: 0 20rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left {
			color: #488fd3;
		}
		.right {
			color: #a3a3a3;
			display: flex;
			align-items: center;
		}
	}
	.list_block {
		background: #fff;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
		border-radius: 6upx;
		margin-bottom: 20rpx;
		padding: 16rpx 20rpx 0;
		.top {
			position: relative;
			padding-bottom: 12rpx;
			&::after {
				position: absolute;
				content: '';
				height: 2rpx;
				background: #dcdcdc;
				bottom: 0;
				left: -28rpx;
				right: -18rpx;
			}
			.one {
				display: flex;
				justify-content: space-between;
				.left {
					display: flex;
					align-items: center;
					.s_color {
						width: 12rpx;
						height: 24rpx;
						background: #ff0000;
					}
					text {
						color: #000000;
						margin: 0 20rpx 0 8rpx;
					}
					.right {
						padding: 0 10rpx;
						font-size: 18rpx;
						color: #fff;
						background: #448aca;
						line-height: 1.2;
					}
				}
				& > text {
					color: #32b16c;
					font-size: 24rpx;
				}
			}
			.two {
				color: #a3a3a3;
				display: flex;
				justify-content: space-between;
				font-size: 22rpx;
				.lineh {
					margin: 18rpx 0 16rpx;
				}
				.right {
					text-align: right;
				}
			}
		}
		.bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 18rpx 0;
			.left {
				color: #488fd3;
				font-size: 30rpx;
			}
			.right {
				display: flex;
				align-items: center;
				.ggbtn {
					display: flex;
					align-items: center;
					&:last-child {
						margin-left: 66rpx;
					}
					image {
						width: 22rpx;
						height: 22rpx;
						margin-right: 10rpx;
					}
					text {
						font-size: 22rpx;
						color: #434343;
					}
				}
			}
		}
	}
	.c2c_list {
		.c2c_list_item {
			margin: 0 24rpx;
			background: #fff;
			margin-top: 10rpx;
			border-radius: 3px;
			margin-bottom: 23upx;
			padding: 16rpx 20rpx;
			border: 2rpx solid #f8f9fb;
			.item_title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 18upx;
				.name {
					font-weight: bold;
				}
				.rig {
					color: #c5cfd5;
				}
			}
			.number {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 4rpx;
				.n_left {
					view {
						color: #c5cfd5;
						&.btm {
							margin-top: 20rpx;
						}
					}
				}
				.n_right {
					color: $blue;
					font-weight: bold;
					font-size: 32rpx;
				}
			}
			.item_type {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 8rpx;
				.pay {
					display: flex;
					align-items: center;
					text {
						color: #c5cfd5;
					}
					image {
						margin-right: 22rpx;
					}
					.aa,
					.cc {
						width: 26rpx;
						height: 26rpx;
					}
					.bb {
						width: 32rpx;
						height: 26rpx;
					}
				}
				.buy_btn {
					width: 180rpx;
					height: 50rpx;
					background: $blue;
					border-radius: 6rpx;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #fff;
				}
			}
		}
	}
	.c2c_type {
		display: flex;
		align-items: baseline;
		position: relative;
		padding-left: 26rpx;
		padding-bottom: 16rpx;
		border-bottom: 10rpx solid #f8f9fb;
		margin-top: 34rpx;
		view {
			margin-right: 54rpx;
			font-size: 32upx;
			padding: 0;
			text-align: center;
			position: relative;
			color: #8c9fad;
			transition: all 0.1s;
			font-weight: bold;
			&.active {
				color: $blue;
				font-size: 48rpx;
			}
		}
	}
	.c2c_nav {
		display: flex;
		position: relative;
		padding: 26rpx;
		border-bottom: 2rpx solid #f8f9fb;
		.block {
			margin-right: 54rpx;
			view {
				color: #c5cfd5;
				text-align: center;
				&.name {
					margin-bottom: 16rpx;
				}
				&.coin {
					font-weight: bold;
				}
			}
			&.active {
				view {
					color: #1f3f59;
				}
			}
		}
	}
	.num {
		padding: 40rpx 26rpx;
		border-bottom: 2rpx solid #f8f9fb;
		color: #1f3f59;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.blue {
			color: $blue;
			margin-left: 26rpx;
		}
	}
	.transfer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 26rpx;
		padding-top: 14rpx;
		image {
			width: 28rpx;
			height: 26rpx;
			margin-right: 12rpx;
		}
		text {
			color: $blue;
			font-weight: bold;
		}
	}
	.blue_btn {
		margin-top: 44rpx;
		margin-bottom: 62rpx;
	}
	.title {
		padding: 26rpx 18rpx;
		border-top: 10rpx solid #f8f9fb;
		border-bottom: 2rpx solid #f8f9fb;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.ll {
			font-size: 32rpx;
			font-weight: bold;
		}
		.rr {
			display: flex;
			align-items: center;
			image {
				width: 28rpx;
				height: 28rpx;
				margin-right: 12rpx;
			}
			text {
				font-size: 24rpx;
				font-weight: bold;
			}
		}
	}
}
.posi {
	top: 0;
}
.go_model {
	padding: 34rpx 0;
	.goto {
		display: flex;
		align-items: center;
		width: 292rpx;
		height: 62rpx;
		padding-left: 24rpx;
		margin-bottom: 22rpx;
		&:last-child {
			margin-bottom: 0;
		}
		&:active,
		&:hover {
			background: #f8f9fb;
			text {
				color: #1f3f59;
			}
		}
		image {
			height: 28rpx;
			width: 28rpx;
			margin-right: 12upx;
		}
		text {
			color: #c5cfd5;
			font-weight: bold;
		}
	}
}
.list_list {
	view,
	text {
		font-weight: bold;
	}
	.list_tab {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 66rpx;
		view {
			color: #8c9fad;
			&.active {
				color: #1f3f59;
			}
		}
	}
	.list_price {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #f8f9fb;
		height: 50rpx;
		padding: 0 26rpx;
		text {
			color: #c5cfd5;
			font-size: 24rpx;
		}
	}
	.list_way {
		height: 66rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 26rpx;
		border-bottom: 2rpx solid #f8f9fb;
		.way_way {
			display: flex;
			.label {
				display: flex;
				align-items: center;
				width: 234rpx;
			}
		}
		.way_right {
			color: #C5CFD5;
		}
	}
	.list_input {
		margin: 0 26rpx;
		height: 66rpx;
		display: flex;
		align-items: center;
		border-bottom: 2rpx solid #F8F9FB;
		.label {
			width: 234rpx;
		}
		.l_gray {
			color: #c5cfd5;
			font-size: 24rpx;
		}
	}
	.list_explain {
		margin: 0 26rpx;
		padding-top: 20rpx;
		display: flex;
		.ex1 {
			margin-right: 58rpx;
		}
		.ex2 {
			color: #C5CFD5;
			line-height: 1.4;
		}
	}
	.blue_btn {
		margin-top: 188rpx;
		margin-bottom: 22rpx;
	}
	.list_ensure {
		margin: 0 26rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text {
			font-size: 24rpx;
			color: #C5CFD5;
		}
	}
}
