.c2c {
	padding: 0 24upx;
	.sell_top {
		background: #fff;
		height: 66rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20rpx;
		border-radius: 5upx;
		font-size: 20rpx;
		margin: 10rpx 0 26rpx;
		.one {
			text {
				&:first-child {
					color: #a3a3a3;
				}
				&:last-child {
					color: #010101;
				}
			}
		}
	}
	.list_top {
		height: 66rpx;
		background: rgba(255, 255, 255, 1);
		border-radius: 6rpx;
		margin: 0 0 26rpx;
		padding: 0 20rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left {
			color: #488fd3;
		}
		.right {
			color: #a3a3a3;
			display: flex;
			align-items: center;
		}
	}
	.list_block {
		background: #fff;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
		border-radius: 6upx;
		margin-bottom: 20rpx;
		padding: 16rpx 20rpx 0;
		.top {
			position: relative;
			padding-bottom: 12rpx;
			&::after {
				position: absolute;
				content: '';
				height: 2rpx;
				background: #dcdcdc;
				bottom: 0;
				left: -28rpx;
				right: -18rpx;
			}
			.one {
				display: flex;
				justify-content: space-between;
				.left {
					display: flex;
					align-items: center;
					.s_color {
						width: 12rpx;
						height: 24rpx;
						background: #ff0000;
					}
					text {
						color: #000000;
						margin: 0 20rpx 0 8rpx;
					}
					.right {
						padding: 0 10rpx;
						font-size: 18rpx;
						color: #fff;
						background: #448aca;
						line-height: 1.2;
					}
				}
				&>text {
					color: #32b16c;
					font-size: 24rpx;
				}
			}
			.two {
				color: #a3a3a3;
				display: flex;
				justify-content: space-between;
				font-size: 22rpx;
				.lineh {
					margin: 18rpx 0 16rpx;
				}
				.right {
					text-align: right;
				}
			}
		}
		.bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 18rpx 0;
			.left {
				color: #488fd3;
				font-size: 30rpx;
			}
			.right {
				display: flex;
				align-items: center;
				.ggbtn {
					display: flex;
					align-items: center;
					&:last-child {
						margin-left: 66rpx;
					}
					image {
						width: 22rpx;
						height: 22rpx;
						margin-right: 10rpx;
					}
					text {
						font-size: 22rpx;
						color: #434343;
					}
				}
			}
		}
	}
	.c2c_list {
		.c2c_record {
			.c_r_main {
				overflow: hidden;
				background: $maskBg;
				padding: 0 20upx;
				border-radius: 8upx;
				margin-bottom: 20upx;
				&.c_r_main_title {
					background: none;
					margin-bottom: 0;
					.c_r_main_item {
						height: 70upx;
						line-height: 70upx;
					}
				}
				.c_r_main_item {
					transition: all 0.2s;
					&:active {
						opacity: 0.5;
					}
					height: 80upx;
					padding: 0 24upx;
					position: relative;
					&::before {
						position: absolute;
						content: '';
						display: block;
						bottom: 0;
						left: 0upx;
						right: 0upx;
						height: 1upx;
						background: #6d717a;
						transform: scaleY(0.5);
					}
					&:last-child {
						&::before {
							display: none;
						}
					}
					.fl {
						color: #03bcc0;
						line-height: 80upx;
						font-size: 26upx;
					}
					.fr {
						height: 80upx;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
		.c2c_list_item {
			background: #fff;
			box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
			border-radius: 3px;
			margin-bottom: 23upx;
			padding: 16rpx 20rpx;
			&:first-child {
				margin-top: 7upx;
			}
			.item_type {
				.fl {
					color: #434343;
					font-size: 28upx;
					display: flex;
					align-items: center;
					margin-top: 14rpx;
					text {
						float: left;
					}
					image {
						width: 32rpx;
						height: 32rpx;
						margin-right: 22rpx;
					}
				}
				.fr {
					height: 50upx;
					line-height: 50upx;
					font-size: 28upx;
					width: 180rpx;
					border: 0;
					background: #488fd3;
					color: #fff;
					border-radius: 8upx;
					text-align: center;
					padding: 0;
					&::after {
						display: none;
					}
				}
			}
			.item_number {
				color: #434343;
				margin-bottom: 20rpx;
				&.two {
					margin-bottom: 2rpx;
				}
				.fr {
					margin-top: -24rpx;
					margin-bottom: 24rpx;
					text {
						font-weight: 700;
						color: #488fd3;
						font-size: 30upx;
						line-height: 36upx;
					}
				}
			}
			.item_title {
				display: flex;
				align-items: center;
				margin-bottom: 20upx;
				position: relative;
				.avatar {
					width: 32rpx;
					height: 32rpx;
				}
				.icons {
					width: 27upx;
					height: 27upx;
					line-height: 27upx;
					border-radius: 27upx;
					text-align: center;
					font-size: 17upx;
					background: #03bcc0;
					color: #434343;
				}
				.name {
					font-weight: 700;
					font-size: 28upx;
					color: #434343;
				}
				image {
					margin-left: 11upx;
					width: 40upx;
					height: 26upx;
				}
				.rig {
					position: absolute;
					right: 0;
					font-size: 28rpx;
					color: #434343;
				}
			}
		}
	}
	.c2c_type {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: 10rpx 0;
		margin-bottom: 40rpx;
		image {
			width: 46rpx;
			height: 40rpx;
			position: absolute;
			right: 0;
		}
		view {
			height: 65upx;
			line-height: 65upx;
			font-size: 36upx;
			padding: 0;
			margin: 0 32rpx;
			text-align: center;
			position: relative;
			display: flex;
			justify-content: center;
			color: #000;
			transition: all 0.1s;
			&.active::after {
				content: '';
				position: absolute;
				height: 4rpx;
				background: #488fd3;
				bottom: 0;
				width: 100%;
				left: 50%;
				transform: translateX(-50%);
			}
			&.active {
				color: #488fd3;
				position: relative;
			}
		}
	}
	.c2c_nav {
		display: flex;
		position: relative;
		margin-bottom: 28rpx;
		border-bottom: 4rpx solid #dcdcdc;
		view {
			color: #434343;
			margin: 0;
			height: 50upx;
			line-height: 50upx;
			padding: 0;
			text-align: center;
			margin-right: 20upx;
			transition: all 0.1s;
			position: relative;
			display: flex;
			justify-content: center;
			&.active::after {
				position: absolute;
				content: '';
				bottom: 0;
				background: #488fd3;
				height: 4rpx;
				width: 100%;
				border-radius: 4upx;
				left: 50%;
				transform: translateX(-50%);
			}
			&.active {
				position: relative;
				color: #488fd3;
			}
		}
	}
}
.btn {
	display: flex;
	justify-content: space-between;
	margin-top: 38rpx;
	view {
		border-radius: 6rpx;
		height: 66rpx;
		width: 210rpx;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.btn1 {
		color: #000;
		background: #eeeeee;
	}
	.btn2 {
		color: #fff;
		background: #488fd3;
	}
}
.posi {
	top: 0;
}
.go_model {
		.goto {
			display: flex;
			align-items: center;
			padding: 0 22upx 0 26rpx;
			height: 72rpx;
			border-bottom: 2rpx solid #BFBFBF;
			&:last-child {
				border-bottom: 0;
			}
			image {
				height: 18upx;
				width: 18upx;
				margin-right: 10upx;
			}
			text {
				color: #434343;
				font-size: 28rpx;
			}
		}
	}

