.Modal_mask .Modal_Modal .Modal_title .colse button{
		background: #000!important;
	}
.distribute{
	height: 100%;
	background: url(../../../../static/r2.png) no-repeat;
	background-size: cover;
	position: relative;
  padding:0 60rpx;
  .leve {
	  position: absolute;
	  top: 24rpx;
	  left: 24rpx;
	  
  }
  .submits{
    margin-top: 180rpx;
    button{
      width:100%;
      background: url(../../../../static/r9.png) no-repeat;
	  background-size: cover;
      color: #FE594B;
      height: 90rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .1s;
      border: 0;
      &::after{
        display: none;
      }
      &:active{
        opacity: 0.5;
      }
    }
  }
  .coin_money{
    font-size: 28rpx;
    color: #fff;
    margin: 24rpx 0 32rpx 28rpx;
  }
  .coin_number{
    height: 105rpx;
    background: #fff;
    border-radius: 10rpx;
    padding-left: 30rpx;
    font-size: 32rpx;
    color: #333;
    .fl{
      height: 105rpx;
      display: flex;
      align-items: center;
      width: 200rpx;
	  font-size: 32rpx;
    }
    .fr{
      width: calc(100% - 200rpx);
      height: 105rpx;
      display: flex;
      align-items: center;
      .inputs{
        text-align: right;
        width: 60%;
        float: left;
        height: 50rpx;
        padding-right: 20rpx;
        font-size: 32rpx;
      }
      .select{
        position: relative;
        float: left;
        width: 40%;
        picker {
          .uni-input {
            height: 100%;
            line-height: 80upx;
            padding: 0;
            font-size: 32upx;
            background: none;
          }
        }
        .downs {
          position: absolute;
          top: 0;
          right: 16upx;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}