.transfer{
  padding: 20upx;
    .transfer_select{
      background: $maskBg;
      .item{
        color: #12abb0;
        height: 80upx;
        line-height: 80upx;
        border-bottom: 1px solid #4a4f5a;
        text-align: center;
        transition: all .1s;
        &:active{
          opacity: 0.5;
        }
        &:last-child{
          border-bottom: 0;
        }
      }
  }
  .submits{
    margin: 20upx 0;
    button{
      height: 70upx;
      line-height: 70upx;
      border-radius: 8upx;
      background: #12abb0;
      color: #191e2a;
      font-size: 26upx;;
      transition: all .2s;
      &:active{
        opacity: 0.5;
      }
    }
  }
  .transfer_form{
    padding: 24upx 24upx 1upx;
    background: $maskBg;
    border-radius: 8upx;
    .item{
      color: #04cbcf;
      margin-bottom: 20upx;
      font-size: 26upx;;
      .fl{
        line-height: 60upx;
        width: 122upx;
      }
      .fr{
        height: 60upx;
        width: calc(100% - 122upx);
        padding: 0 23upx;
        box-sizing: border-box;
        background: #1e2432;
        border-radius: 8upx;
        button{
          float: left;
          padding: 0;
          height: 60upx;
          line-height: 60upx;
          border: 0;
          text-align: center;
          font-size: 26upx;;
          background: none;
          color: #04cbcf;
          &::after{
            display: none;
          }
        }
      }
    }
  }
  .transfer_nav{
    display: flex;
    margin-bottom: 20upx;
    button{
      flex: 1;
      height: 65upx;
      line-height: 65upx;
      font-size: 26upx;;
      background: $fontColor;
      color: #191e2a;
      border-radius: 8upx;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after{
        display: none;
      }
      transition: all .1s;
      &:active{
        opacity: 0.5;
      }
    }
    .change{
      max-width: 156upx;
      flex: 1;
      height: 65upx;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}