.transfer {
	.tansfer_head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 66rpx 44rpx 28rpx;
		border-bottom: 10rpx solid #F8F9FB;
		text {
			font-weight: bold;
		}
		.gray {
			color: #C5CFD5;
		}
		.right {
			display: flex;
			align-items: center;
			text {
				margin-right: 14rpx;
			}
		}
	}
	.transfer_select {
		background: #fff;
		.item {
			color: #000;
			height: 80upx;
			line-height: 80upx;
			text-align: center;
			transition: all 0.1s;
			&.title {
				font-size: 36rpx;
				color: #488FD3;
				border-bottom: 2rpx solid #DCDCDC;
			}
			&:active {
				opacity: 0.5;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	.submits {
		margin: 0 26rpx 20rpx;
		button {
			height: 66rpx;
			line-height: 66upx;
			border-radius: 8upx;
			background: #488FD3;
			color: #fff;
			font-size: 28upx;
			transition: all 0.2s;
			&:active {
				opacity: 0.5;
			}
		}
	}
	.btm {
		display: flex;
		justify-content: space-between;
		padding: 14rpx 22rpx 0;
		text {
			font-size: 24rpx;
			}
	}
	.transfer_form {
		padding: 24upx 24upx 1upx;
		background: $maskBg;
		border-radius: 8upx;
		.item {
			color: #04cbcf;
			margin-bottom: 20upx;
			font-size: 26upx;
			.fl {
				line-height: 60upx;
				width: 122upx;
			}
			.fr {
				height: 60upx;
				width: calc(100% - 122upx);
				padding: 0 23upx;
				box-sizing: border-box;
				background: #1e2432;
				border-radius: 8upx;
				button {
					float: left;
					padding: 0;
					height: 60upx;
					line-height: 60upx;
					border: 0;
					text-align: center;
					font-size: 26upx;
					background: none;
					color: #04cbcf;
					&::after {
						display: none;
					}
				}
			}
		}
	}
	.transfer_nav {
		padding: 34rpx 60rpx  34rpx 44rpx;
		background: #fff;
		border-bottom: 10rpx solid #F8F9FB;
		.t_top,.t_center,.t_btm {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.t_top {
			.left {
				display: flex;
				align-items: center;
				.word {
					margin-right: 70rpx;
					color: #C5CFD5;
				}
			}
			image {
				width: 4rpx;
				height: 66rpx;
				margin: 14rpx 0;
			}
			.icons {
				margin-right: 80rpx;
			}
		}
		.t_center {
			.ellipsis {
				width: 4rpx;
				height: 66rpx;
				margin-left: 12rpx;
			}
			.c_top,.c_bottom {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.c_border {
				height: 2rpx;
				width: 458rpx;
				background: #F8F9FB;
				margin-left: 70rpx;
			}
			.c_input {
				display: flex;
				align-items: center;
				input {
					font-size: 24rpx;
					margin-left: 24rpx;
				}
			}
		}
		image {
			width: 68rpx;
			height: 68rpx;
		}
	}
	.num {
		border-bottom: 10rpx solid #F8F9FB;
		padding: 34rpx 26rpx;
		.title {
			margin-left: 18rpx;
			font-weight: bold;
		}
		.btm_word {
			font-size: 20rpx;
			font-weight: bold;
			color: #C6D0D6;
			margin-left: 18rpx;
		}
		.inputs {
			height:66rpx;
			background:rgba(248,249,251,1);
			border-radius:6rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 18rpx;
			margin: 22rpx 0 16rpx;
			input,text {
				font-weight: bold;
			}
			.r_input {
				display: flex;
				align-items: center;
				.m_line {
					width:4rpx;
					height:32rpx;
					background:rgba(197,207,213,1);
					border-radius:2rpx;
					margin: 0 26rpx;
				}
				text {
					color: #C6D0D6;
				}
				.blue {
					color: $blue;
				}
			}	
		}
	}
	.explain {
		background:rgba(248,249,251,1);
		border-radius:6rpx;
		padding: 34rpx 26rpx;
		margin: 34rpx 26rpx 52rpx;
		color: #C5CFD5;
		font-weight: bold;
		line-height: 1.2;
	}
}
