.transfer_select {
	background: #fff;
	padding: 0 0 60rpx;
	.item {
		color: #000;
		height: 80upx;
		line-height: 80upx;
		text-align: center;
		transition: all 0.1s;
		&.title {
			font-size: 36rpx;
			color: #488fd3;
			border-bottom: 2rpx solid #dcdcdc;
		}
		&:active {
			opacity: 0.5;
		}
		&:last-child {
			border-bottom: 0;
		}
	}
	.btn {
		width: 159upx;
		height: 42upx;
		background: rgba(72, 143, 211, 1);
		border-radius: 6upx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		margin: auto;
		margin-top: 120upx;
	}
}
.withdraw {
	padding: 34rpx 26upx;
	view,
	text {
		font-weight: bold;
	}
	.title {
		margin: 34rpx 0 24rpx 20rpx;
	}
	.chain {
		display: flex;
		align-items: center;
		margin-left: 20rpx;
		view {
			width: 124rpx;
			height: 40rpx;
			margin-right: 50rpx;
			margin-bottom: 34rpx;
			background: rgba(248, 249, 251, 1);
			border-radius: 6rpx;
			color: #c5cfd5;
			display: flex;
			align-items: center;
			justify-content: center;
			&.active {
				border: 1px solid rgba(24, 130, 212, 1);
				color: #1882d4;
			}
		}
	}
	.d_input {
		.label {
			margin: 32rpx 0 24rpx 20rpx;
		}
		.d_block {
			height: 66rpx;
			background: rgba(248, 249, 251, 1);
			border-radius: 6rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 20rpx;
			.plc {
				color: #c5cfd5;
			}
			.right {
				display: flex;
				align-items: center;
				.sm {
					width: 32rpx;
					height: 32rpx;
				}
				.w_line {
					width: 2rpx;
					height: 32rpx;
					background: rgba(197, 207, 213, 1);
					border-radius: 2rpx;
					margin: 0 26rpx;
				}
				.bd {
					width: 32rpx;
					height: 34rpx;
				}
				.t1 {
					color: #c5cfd5;
				}
				.t2 {
					color: $blue;
					min-width: 60rpx;
					text-align: right;
				}
			}
		}
	}
	.sm_title {
		font-size: 24rpx;
		color: #c6d0d5;
		margin-top: 14rpx;
		margin-left: 20rpx;
	}
	.withdraw_tpis {
		background:rgba(248,249,251,1);
		border-radius:6rpx;
		margin-top: 34rpx;
		margin-bottom: 64rpx;
		padding: 18rpx 20rpx 22rpx;
		view {
			color: #C5CFD5;
			font-size: 24rpx;
			margin-bottom: 10rpx;
			font-weight: normal;
			line-height: 1.2;
			text {
				color: $blue;
			}
		}
		.lst {
			margin-bottom: 0;
		}
	}
	.b_title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10rpx;
		padding: 0 18rpx;
		.wz {
			color: #C5CFD5;
		}
	}
	.withdraw_nav {
		border-radius: 6upx;
		justify-content: center;
		align-items: center;
		display: flex;
		margin-bottom: 24upx;
		overflow: hidden;
		view {
			justify-content: center;
			align-items: center;
			display: flex;
			flex: 1;
			height: 66upx;
			font-size: 26upx;
			background: rgba(248, 249, 251, 1);
			transition: all 0.2s;
			color: #c5cfd5;
			&.active {
				color: #1f3f59;
				border: 1px solid rgba(24, 130, 212, 1);
			}
		}
	}
}
